ion-item {
  --transition: unset;
}

.active {
  --color: var(--ion-color-dark);
  --background: rgba(var(--ion-color-dark-rgb), 0.12);
  --background-hover: rgba(var(--ion-color-dark-rgb), 0.16);
  --background-focused: rgba(var(--ion-color-dark-rgb), 0.24);

  ion-icon {
    color: inherit;
  }
}
